{
  "singleQuote": true,
  "printWidth": 100,
  "semi": false,
  "trailingComma": "all",
  "tabWidth": 4,
  "useTabs": false,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["*.scss", "*.json", "*rc", "*.yml", "*.yaml"],
      "options": {
        "tabWidth": 2,
        "trailingComma": "none"
      }
    }
  ]
}
